<h1>Listing Bank Account operations</h1>

<table border = '1' padding="0" cellspacing="0" bordercolor="rgb(230, 224, 219)" style="border:solid #E5E5E5 0px; BORDER-BOTTOM: #E5E5E5 0px solid; " >
  <tr>
    <th>Issue Time</th>
    <th>Operation Type</th>
    <th>Amount ($)</th>
    <th>Bank Account No</th>
    <% if current_user %>
    <th colspan="3">Actions</th>
    <% else %>
    <th colspan="1">Actions</th>
    <% end %>
   
  </tr>

   <% if current_user %>
  <!-- Customers -->
  
<% @bank_account_operations.each do |bank_account_operation| %>


   <% @bank_account = BankAccount.find(bank_account_operation.bank_account_id) %>
  <% if @bank_account.user_id == current_user.id %>
  <tr>
    <td ><%= bank_account_operation.issueTime %></td>
    <td><%= bank_account_operation.operationType %></td>
    <td><%= bank_account_operation.amount %></td>
    <td>
         
         
          <%= @bank_account.bankAccountNo %>
      
    </td>
    <td><%= link_to 'Show', bank_account_operation %></td>
    <td><%= link_to 'Edit', edit_bank_account_operation_path(bank_account_operation) %></td>
    <td><%= link_to 'Destroy', bank_account_operation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <%end%>
  
<% end %>

<% else %>
<!-- Managers -->
<% @bank_account_operations.each do |bank_account_operation| %>
  <tr>
    <td ><%= bank_account_operation.issueTime %></td>
    <td><%= bank_account_operation.operationType %></td>
    <td><%= bank_account_operation.amount %></td>
    <td>
         
          <% @bank_account = BankAccount.find(bank_account_operation.bank_account_id) %>
          <%= @bank_account.bankAccountNo %>
      
    </td>
    <td><%= link_to 'Show', bank_account_operation %></td>
    
  </tr>
<% end %>

<% end %>


</table>

<br />

<% if current_user %>
  <%= link_to 'Add bank account operation', new_bank_account_operation_path %>
  <% else %>
  <%= link_to 'Add Bank Account', new_bank_account_path %> | <%= link_to 'View Bank accounts', bank_accounts_path %>
<% end %>


